name: Publish Package to npmjs

on:
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            id-token: write

        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: Set up NodeJS
              uses: actions/setup-node@v4
              with:
                  node-version: 20
                  registry-url: 'https://registry.npmjs.org'

            - name: Ensure npm is at latest version
              run: npm install -g npm

            - name: Clean Install dependencies
              run: npm ci

            - name: Publish to npm
              run: npm publish --provenance
                  env:
                      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
